* {
  text-align: center;
}

table {
  margin: 0 auto;
  width: 50%;
  height: 330px;
  text-align: center;
}
td {
  max-height: 25px;
}
img {
  width: 30px;
}

a {
  margin-top: 20px;
  text-align: center;
  margin-left: 60%;
}

input {
  margin-top: -12px;
}
