.menu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
  padding-top: 20px;
}

li {
  padding-bottom: 20px;
}

.menu {
  height: 100%;
}

.push {
  height: 5em;
}
body,
html {
  height: 100%;
  margin: 0;
}
