<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         [routerLink]="['/']">Home</a>
      <a mat-list-item
         [routerLink]="['/proyectos']">Proyectos</a>
      <a mat-list-item
         [routerLink]="['/new']">Nuevo proyecto</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Manage Projects</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <mat-toolbar color='primary'>
      <span class='spacer'></span>
      <span *ngFor="let note of notes$ | async; last as isLast">
        <p *ngIf="isLast">{{note}}</p>
      </span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
